# Data Cleaning & Exploration

_Erin Cameron_

---

## 1) Setup

In [52]:
# Import statements required for data cleaning and exploration
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [53]:
# Read in the dataset
df = pd.read_csv('data/data.csv', sep=';', encoding='windows-1252')

In [54]:
# Set option to display all columns
pd.set_option('display.max_columns', None)

In [55]:
# Investigate the data types of each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1267 entries, 0 to 1266
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Group                     1267 non-null   int64
 1   Sex                       1267 non-null   int64
 2   Age                       1267 non-null   int64
 3   Patients number per hour  1267 non-null   int64
 4   Arrival mode              1267 non-null   int64
 5   Injury                    1267 non-null   int64
 6   Chief_complain            1267 non-null   object
 7   Mental                    1267 non-null   int64
 8   Pain                      1267 non-null   int64
 9   NRS_pain                  1267 non-null   object
 10  SBP                       1267 non-null   object
 11  DBP                       1267 non-null   object
 12  HR                        1267 non-null   object
 13  RR                        1267 non-null   object
 14  BT                        1267 non-null   object
 15  Saturation                579 non-null    object
 16  KTAS_RN                   1267 non-null   int64
 17  Diagnosis in ED           1265 non-null   object
 18  Disposition               1267 non-null   int64
 19  KTAS_expert               1267 non-null   int64
 20  Error_group               1267 non-null   int64
 21  Length of stay_min        1267 non-null   int64
 22  KTAS duration_min         1267 non-null   object
 23  mistriage                 1267 non-null   int64
dtypes: int64(14), object(10)
memory usage: 237.7+ KB

In [56]:
# Display the dataset for an initial view
display(df)

,Group,Sex,Age,Patients number per hour,Arrival mode,Injury,Chief_complain,Mental,Pain,NRS_pain,SBP,DBP,HR,RR,BT,Saturation,KTAS_RN,Diagnosis in ED,Disposition,KTAS_expert,Error_group,Length of stay_min,KTAS duration_min,mistriage
0,2,2,71,3,3,2,right ocular pain,1,1,2,160,100,84,18,36.6,100,2,Corneal abrasion,1,4,2,86,"5,00",1
1,1,1,56,12,3,2,right forearm burn,1,1,2,137,75,60,20,36.5,NaN,4,"Burn of hand, firts degree dorsum",1,5,4,64,"3,95",1
2,2,1,68,8,2,2,"arm pain, Lt",1,1,2,130,80,102,20,36.6,98,4,"Fracture of surgical neck of humerus, closed",2,5,4,862,"1,00",1
3,1,2,71,8,1,1,ascites tapping,1,1,3,139,94,88,20,36.5,NaN,4,Alcoholic liver cirrhosis with ascites,1,5,6,108,"9,83",1
4,1,2,58,4,3,1,"distension, abd",1,1,3,91,67,93,18,36.5,NaN,4,Ascites,1,5,8,109,"6,60",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1262,2,2,79,5,2,1,mental change,1,0,#BOÞ!,120,80,86,22,36.4,95,2,Cerebral infarction due to unspecified occlusi...,2,2,0,1995,"3,00",0
1263,2,2,81,2,3,1,dysuria,1,0,#BOÞ!,120,80,94,20,36.4,97,4,Dysuria,1,4,0,1000,"2,00",0
1264,2,2,81,17,2,1,dizziness,1,0,#BOÞ!,130,90,80,20,36.2,99,3,Dizziness and giddiness,1,3,0,310,"4,00",0
1265,2,1,81,2,2,2,"Sensory, Decreased",1,0,#BOÞ!,170,100,78,20,36.6,98,3,"Cord compression, unspecified",7,3,0,475,"5,00",0
1266,2,2,87,8,4,1,orthopnea,1,0,#BOÞ!,150,80,62,20,36.2,98,3,Dyspnoea,2,3,0,887,"2,00",0

## 2) Data Cleaning

### 2.1) Eliminate the '#BOÞ!' values in NRS_pain column

In [57]:
# Investigate the number of '#BOÞ!' values in this column
df['NRS_pain'].value_counts()

NRS_pain
#BOÞ!    556
3        278
4        141
5        136
6         70
2         38
7         33
8          9
10         3
1          2
9          1
Name: count, dtype: int64

In [58]:
# It appears that NRS_pain is set to '#BOÞ!' when the Pain column equals 0
# Due to this, we want to filter for this and set these NRS_pain values to 0
# Use pandas mask (Series of True/False values) to determine which rows to modify
mask = (df['Pain'] == 0) & (df['NRS_pain'] == '#BOÞ!')
df.loc[mask, 'NRS_pain'] = 0

In [59]:
# Verify that all '#BOÞ!' values have been handled in the NRS_pain column
df['NRS_pain'].value_counts()

NRS_pain
0        553
3        278
4        141
5        136
6         70
2         38
7         33
8          9
#BOÞ!      3
10         3
1          2
9          1
Name: count, dtype: int64

In [60]:
# There seems to be 3 rows left over with '#BOÞ!' values, locate them and display them
df_nrs_pain_rows = df[df['NRS_pain'] == '#BOÞ!']
display(df_nrs_pain_rows)

,Group,Sex,Age,Patients number per hour,Arrival mode,Injury,Chief_complain,Mental,Pain,NRS_pain,SBP,DBP,HR,RR,BT,Saturation,KTAS_RN,Diagnosis in ED,Disposition,KTAS_expert,Error_group,Length of stay_min,KTAS duration_min,mistriage
32,1,1,74,8,3,1,palpitation,1,1,#BOÞ!,91,74,145,18,36.8,NaN,2,Paroxysmal supraventricular tachycardia,1,3,1,95,"8,10",1
133,1,1,90,9,2,1,acute dyspnea,1,1,#BOÞ!,65,45,100,30,36,NaN,2,"Colon cancer, sigmoid",5,1,1,126,"9,58",2
805,1,2,81,13,2,2,right hip pain,1,1,#BOÞ!,90,55,53,20,36,NaN,3,Hip pain,2,3,0,649,"4,08",0

Since the initial assessment of the patient determined that they had pain, but we do not know the pain scale value for NRS_pain (1-10), we will set it to the average of the Pain column

In [62]:
# Convert the 'NRS_pain' column to numeric, this will set the '#BOÞ!' values to NaN
df['NRS_pain'] = pd.to_numeric(df['NRS_pain'], errors='coerce')

In [63]:
# Verify that all '#BOÞ!' and 'NaN' values have been handled in the NRS_pain column
df['NRS_pain'].value_counts()

NRS_pain
0.0     553
3.0     278
4.0     141
5.0     136
6.0      70
2.0      38
7.0      33
8.0       9
10.0      3
1.0       2
9.0       1
Name: count, dtype: int64

In [64]:
# Find the average of the NRS_pain column and display it
avg_pain = df['NRS_pain'].mean()
print(avg_pain)

2.3085443037974684

In [65]:
# Round the value to the nearest whole number
avg_pain = round(avg_pain)
print(avg_pain)

2

In [66]:
# Locate the 3 rows left over with 'NaN' values and display them
df_nrs_pain_rows = df[df['NRS_pain'].isna()]
display(df_nrs_pain_rows)

,Group,Sex,Age,Patients number per hour,Arrival mode,Injury,Chief_complain,Mental,Pain,NRS_pain,SBP,DBP,HR,RR,BT,Saturation,KTAS_RN,Diagnosis in ED,Disposition,KTAS_expert,Error_group,Length of stay_min,KTAS duration_min,mistriage
32,1,1,74,8,3,1,palpitation,1,1,NaN,91,74,145,18,36.8,NaN,2,Paroxysmal supraventricular tachycardia,1,3,1,95,"8,10",1
133,1,1,90,9,2,1,acute dyspnea,1,1,NaN,65,45,100,30,36,NaN,2,"Colon cancer, sigmoid",5,1,1,126,"9,58",2
805,1,2,81,13,2,2,right hip pain,1,1,NaN,90,55,53,20,36,NaN,3,Hip pain,2,3,0,649,"4,08",0

In [67]:
# Use the average value to fill in the NaN values
df['NRS_pain'] = df['NRS_pain'].fillna(avg_pain).astype(int)

In [68]:
# Verify that all '#BOÞ!' and 'NaN' values have been handled in the NRS_pain column
df['NRS_pain'].value_counts()

NRS_pain
0     553
3     278
4     141
5     136
6      70
2      41
7      33
8       9
10      3
1       2
9       1
Name: count, dtype: int64

In [70]:
# Confirm that all NaN values have been handled in the NRS_pain column
df['NRS_pain'].isna().value_counts()

NRS_pain
False    1267
Name: count, dtype: int64

### 2.2) Convert 'KTAS duration_min' into an int64 value

It appears that the `KTAS duration_min` column is using a comma as a period for minute notation. For example:
    
    5,32
    15,88

Should be (in minutes):
    
    5.32
    15.88

In [74]:
# Examine the column values to determine how to best convert the values
df['KTAS duration_min'].value_counts()

KTAS duration_min
2,00     173
4,00     156
3,00     150
5,00      74
1,00      37
        ...
13,15      1
5,88       1
11,47      1
13,00      1
11,42      1
Name: count, Length: 392, dtype: int64

In [76]:
# Convert KTAS duration_min values to use decimal instead of comma
for i, v in df['KTAS duration_min'].items():
    df.at[i, 'KTAS duration_min'] = v.replace(',', '.')

In [77]:
# Display the dataframe again to confirm these values have been updated
display(df.head())

,Group,Sex,Age,Patients number per hour,Arrival mode,Injury,Chief_complain,Mental,Pain,NRS_pain,SBP,DBP,HR,RR,BT,Saturation,KTAS_RN,Diagnosis in ED,Disposition,KTAS_expert,Error_group,Length of stay_min,KTAS duration_min,mistriage
0,2,2,71,3,3,2,right ocular pain,1,1,2,160,100,84,18,36.6,100,2,Corneal abrasion,1,4,2,86,5.00,1
1,1,1,56,12,3,2,right forearm burn,1,1,2,137,75,60,20,36.5,NaN,4,"Burn of hand, firts degree dorsum",1,5,4,64,3.95,1
2,2,1,68,8,2,2,"arm pain, Lt",1,1,2,130,80,102,20,36.6,98,4,"Fracture of surgical neck of humerus, closed",2,5,4,862,1.00,1
3,1,2,71,8,1,1,ascites tapping,1,1,3,139,94,88,20,36.5,NaN,4,Alcoholic liver cirrhosis with ascites,1,5,6,108,9.83,1
4,1,2,58,4,3,1,"distension, abd",1,1,3,91,67,93,18,36.5,NaN,4,Ascites,1,5,8,109,6.60,1

In [78]:
# Convert the 'KTAS duration_min' column to float
df['KTAS duration_min'] = df['KTAS duration_min'].astype('float')

In [80]:
# Print out the dataframe datatype info to see what the 'KTAS duration_min' column is
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1267 entries, 0 to 1266
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Group                     1267 non-null   int64
 1   Sex                       1267 non-null   int64
 2   Age                       1267 non-null   int64
 3   Patients number per hour  1267 non-null   int64
 4   Arrival mode              1267 non-null   int64
 5   Injury                    1267 non-null   int64
 6   Chief_complain            1267 non-null   object
 7   Mental                    1267 non-null   int64
 8   Pain                      1267 non-null   int64
 9   NRS_pain                  1267 non-null   int64
 10  SBP                       1267 non-null   object
 11  DBP                       1267 non-null   object
 12  HR                        1267 non-null   object
 13  RR                        1267 non-null   object
 14  BT                        1267 non-null   object
 15  Saturation                579 non-null    object
 16  KTAS_RN                   1267 non-null   int64
 17  Diagnosis in ED           1265 non-null   object
 18  Disposition               1267 non-null   int64
 19  KTAS_expert               1267 non-null   int64
 20  Error_group               1267 non-null   int64
 21  Length of stay_min        1267 non-null   int64
 22  KTAS duration_min         1267 non-null   float64
 23  mistriage                 1267 non-null   int64
dtypes: float64(1), int64(15), object(8)
memory usage: 237.7+ KB
None